<h4>Contact</h4>
<p>You can contact us either through the website or by e-mail. We look forward to hearing from you.</p>
<div style="display: flex; align-items: center;">
    <span style="margin-top: 20px;padding-right: 6px;">{% icon "lucide:mail" %}</span>
    <h4 style="margin: none;">enquiries@solentenglish.com</h4>
</div>
<div style="display: flex; align-items: center;">
    <span style="margin-top: 20px;padding-right: 6px;">{% icon "lucide:mouse-pointer-click" %}</span>
	<h4>https://ieltswriting.tips/pages/contact</h4>
</div>