<script src='/js/plugins.js'></script>
<script src='/js/scripts.js'></script>
{% if useFlip %}
<script src="/js/flip.min.js"></script>
{% endif %}
{% if charts %}
<script src='/js/intense.min.js'></script>
<script>
window.onload = function() {
    var element = document.querySelectorAll( '.intense' );
    Intense( element );
}
</script>
{% endif %}
{% if useSearch %}
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
></script>
{% endif %}
{% if useFlip %}
<script>
    function isInViewport(element) {
        var bounding = element.getBoundingClientRect();
        return (
            bounding.top >= 0 &&
            bounding.left >= 0 &&
            bounding.right <= (window.innerWidth || document.documentElement.clientWidth) &&
            bounding.bottom <= (window.innerHeight || document.documentElement.clientHeight)
        );
    }

    function handleTickInit(tick) {
        var counter = 0;
        var timer = Tick.helper.interval(function(){
            if (counter < 3) {
                tick.value = tick.value + 1;
                counter = counter + 1;
            }
        },1000, { autostart:false });
        window.addEventListener('scroll', function (event) {
            if (isInViewport(document.querySelector('#counter'))) {
                timer.start();
            }
        }, false);
    }
</script>
{% endif %}