{% include 'partials/base_partials/header_content/_head_opening.html' %}

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body class="home page page-template page-template-template-portfolio page-template-template-portfolio-php">
    <div id="page" >
        <div class="container">
        {% include 'partials/base_partials/_header.html' %}
        {{ content | safe }}
        {% include 'partials/base_partials/_footer.html' %}
        </div>
    </div>
</body>
</html>