---
layout: "base-page.njk"
title: Practice speaking test
tags: ['page']
image: og_images.jpg
---
<div id="content" class="site-content">
	{% include 'partials/page_partials/_img_hero.html' %}
	<div id="primary" class="content-area column full">
		<main id="main" class="site-main">
			<article id="post-39" class="post-39 page type-page status-publish hentry">
				<header class="entry-header">
					<h1 class="entry-title">One-to-one classes</h1>
				</header>
			<!-- .entry-header -->
				<div class="entry-content">
				<div class="wpcmsdev-columns">
					<div class="column column-width-one-half">
						<h4>About one-to-one</h4>
						<p>
						Need some last minute help with the IELTS exam? Why not take a one-to-one class designed to boost your skills and confidence!
						</p>
						<p>
						Get help from an experienced IELTS teacher who knows how to prepare candidates for the exam. Classes can be designed to suit your needs -  just let your teacher know if you want to focus on listening, reading, writing, or speaking. Not sure? Take a practice test and get feedback on areas you need to improve.
						</p>
						<p>
						IELTS prep does not have to be boring. Classes are engaging and effective. Get ready to tackle the test with a friendly touch, making learning enjoyable and (relatively) stress-free!
						</p>
						<p>
						Prices vary depending upon the number of hours you require. Classes are typically cost around $30 an hour but discounts may be available if you book multiple classes in advance.
						</p>
						<p>
						Ready to take the next step? Then arrange a free no-obligation Zoom call to talk about your IELTS strategy and get some advice on how best to reach your learning goals. 
						</p>		
					</div>
					<div class="column column-width-one-half">
						{% include 'partials/page_partials/_contact_details.html' %}
					</div>
				</div>
				</div>
			<!-- .entry-content -->
			</article>
		</main>
		<!-- #main -->
	</div>
	<!-- #primary -->
</div>
<!-- .content -->




