---
layout: "blog-gallery.njk"
eleventyNavigation:
  key: General Task Two
  shortTitle: General 2
  parent: tasks
  order: 4
title: General Task Two
image: og_images.jpg
pagination:
  data: collections.sortedPostsGeTwo
  size: 6
  alias: posts
description: A collection of General Task Two IELTS band scale 9 essays to help you improve your writing skills. Learn by studying high quality example essays.
permalink: /{{ title | slugify }}/page-{{ pagination.pageNumber }}
tags: ['page']
---

<div id="primary" class="content-area column two-thirds">
    <main id="main" class="site-main" role="main">
        <div class="grid bloggrid">
                    {% for post in posts %}
            <article>
            {% include 'partials/gallery_partials/main_content/_grid_entry_header.html' %}
            {% include 'partials/gallery_partials/main_content/_grid_entry_body.html' %}
            </article>
            {% endfor %}
        </div>
        {% include 'partials/gallery_partials/main_content/_grid_pagination.html' %}
        </main>
    <!-- #main -->
</div>
<!-- #primary -->