---
layout: "base-page.njk"
title: General English classes
tags: ['page']
image: og_images.jpg
---
<div id="content" class="site-content">
	{% include 'partials/page_partials/_img_hero.html' %}
	<div id="primary" class="content-area column full">
		<main id="main" class="site-main">
			<article id="post-39" class="post-39 page type-page status-publish hentry">
				<header class="entry-header">
					<h1 class="entry-title">General English classes</h1>
				</header>
			<!-- .entry-header -->
				<div class="entry-content">
				<div class="wpcmsdev-columns">
					<div class="column column-width-one-half">
						<h4>General English classes</h4>
						<p>
						Unlock your English potential with our general English classes! We offer classes for individuals or groups of friends who want to study together. Classes are designed to be interactive and enjoyable
						</p>
						<p>
						Need flexible scheduling? No problem! We can arrange class times to fit your busy life. Perfect for those looking to boost their English ability before starting their IELTS journey.
						</p>
						<p>
						So, if you're ready to enhance your language skills in a communicative and engaging environment, look no further. Let's make your English learning experience as fun as it is effective!
						</p>
						<p>
						Ready to take the next step? Then arrange a free no-obligation Zoom call to talk about your IELTS strategy and get some advice on how best to reach your learning goals. 
						</p>
					</div>
					<div class="column column-width-one-half">
						{% include 'partials/page_partials/_contact_details.html' %}
					</div>
				</div>
				</div>
			<!-- .entry-content -->
			</article>
		</main>
		<!-- #main -->
	</div>
	<!-- #primary -->
</div>
<!-- .content -->







<script>
function onSubmit(token) {
document.getElementById("contact-form").submit();
}
</script>