<aside id="text-5" class="widget widget_text">
    <h4 class="widget-title">About The Site</h4>
    <div class="textwidget">
        <p>
            Example essays are extremely useful for students studying for the IELTS exam. Unfortunately, many of the essays available online are poor quality; they contain grammatical errors, spelling mistakes or are just badly written. I wanted to create a site with a collection of well written essays in order to help IELTS candidates. Good luck in the exam.
        </p>
    </div>
    <br>
    <hr>
    <div>
        <h4 id="counter" style="text-align: center;">A total of <span style="display: inline-block;" class="tick" data-value="{{collections.post.length - 3}}" data-did-init="handleTickInit">

                <div data-repeat="true" data-layout="horizontal fit" data-transform="round -> pad(00) -> split -> delay(random, 100, 150)">

                    <span data-view="flip" data-transform="arrive(1, 0.01) -> round -> limit(0,9)"></span>

                </div>

            </span> IELTS essays</h4>
    </div>
    <hr>
    <br>
</aside>