<aside id="text-5" class="widget widget_text">
<h4 class="widget-title">About Academic Task One</h4>
    <div class="textwidget">
        <p>In this task you have to summarise trends, compare data, or explain a process shown in a graph or chart.</p>

        <p>It's important to highlight key features, make relevant comparisons, and organise your ideas well.</p>

        <p>Success in Task 1 involves accurately presenting information in a way that is easy to understand.</p>

        <p>You are required to write a minimum of 150 words.
        </p>
    </div>
</aside>