<aside id="text-5" class="widget widget_text widget_recent_entries">
<h4 class="widget-title">Services</h4>
    <div class="textwidget">
        <p >
         Do you need feedback on your IELTS essays? We can help with that. Our service includes correction, detailed advice to help you improve and a predicted score for the essay. Pricing depends on the numbers of essays and the speed of the service. Same day service is available by appointment. <span style="text-decoration: underline !important;"><a href="/pages/contact">Get in touch</a></span> and we'll provide you with a quote. We can also help with: </p>
         <ul class="">
            <li>
               <a href="/pages/one-to-one">One-to-one IELTS classes</a>
            </li>
            <li>
                <a href="/pages/speaking-test">Practice IELTS speaking test</a>
            </li>
            <li>
               <a href="/pages/general-english">General English classes
            </li></a>
         </ul>
    </div>
</aside>