<aside id="text-5" class="widget widget_text">
    <div class="textwidget" style="border: 2px #373D3F solid; border-radius: 5px; padding: 20px; background-color: #f8f9fa;">
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">            
        <img src="/images/offer.svg" style="width: 80%; max-width: 300px;">
    </div>
    <h2 style="text-align: center; color: #373D3F; line-height: 1.3em;">Free IELTS Writing Course</h2>
    <p>
        We are thrilled to offer you an exclusive opportunity to enhance your IELTS writing skills at no cost! Our comprehensive self-study course includes:
        <ul style="list-style-type: square;">
            <li>Targeted grammar exercises</li>
            <li>Vocabulary-building activities</li>
            <li>Tips on academic writing</li>
        </ul>
        This is a limited-time offer as we develop our full suite of paid IELTS courses. Join now and start improving your IELTS writing score today!
    </p>
    <div style="display: flex; justify-content: center;">
        <a href="https://app.ieltswriting.tips" style="text-decoration: none;">
            <button class="button_grs">
                <strong>Get Early Access Now!</strong>
            </button>
        </a>
    </div>
</div>

</aside>