<div style="display: flex; flex-wrap:wrap; margin-top: 30px">
  <div style="flex: 100%;">
  <p style="font-size: 1.3em; color: #222;"><strong>Australian Household Energy Use</strong></p>

  ``` vegalite

  { 
    "config": {
      "view": {"stroke": null}},
    "data": {
      "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/12a.json"
    },
     "transform": [
      {
        "calculate": "datum.value + '%'",
        "as": "valueWithPercent"
      }
    ],
    "encoding": {
      "theta": {"field": "value", "type": "quantitative", "stack": true},
      "color": {
        "field": "category",
        "type": "nominal",
        "legend": {
          "symbolSize": 400,
          "title": "Category",
          "titlePadding": 24,
          "labelFontSize": 10,
          "titleFontSize": 14,
          "orient": "none",
          "legendX": 220,
          "legendY": -120,
          "columns": 2,
          "offset": 80,
          "rowPadding": 8,
          "strokeColor": "#fff",
          "padding": 20
        }
      }
    },
    "layer": [{
      "mark": {"type": "arc", "outerRadius": 110}
    }, {
      "mark": {
        "type": "text",
        "radius": 140,
        "fill": "#222",
        "fontSize": 16,
        "fontWeight": 600
      },
      "encoding": {
        "text": {
          "field": "valueWithPercent",
          "type": "nominal"
        }
      }
    }]
  }
  ```

  </div>
  <div style="margin-top: 50px; margin-bottom: 50px; flex: 100%">
  <p style="font-size: 1.3em; color: #222"><strong>Australian Household Greenhouse Gas Emissions</strong></p>


  ```vegalite

  { 
    "config": {
      "view": {"stroke": null}},
    "data": {
      "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/12b.json"
    },
     "transform": [
      {
        "calculate": "datum.value + '%'",
        "as": "valueWithPercent"
      }
    ],
    "encoding": {
      "theta": {"field": "value", "type": "quantitative", "stack": true},
      "color": {
        "field": "category",
        "type": "nominal",
        "legend": {
            "symbolSize": 0,
            "title": "Category",
            "titlePadding": 24,
            "labelFontSize": 10,
            "titleFontSize": 14,
            "orient": "none",
            "legendX": 220,
            "legendY": -0,
            "columns": 2,
            "offset": 80,
            "rowPadding": 8,
            "strokeColor": "#fff",
            "padding": 20,
            "labelColor": "white",
            "titleColor": "white"
        }
      }
    },
    "layer": [{
      "mark": {"type": "arc", "outerRadius": 110}
    }, {
      "mark": {
        "type": "text",
        "radius": 140,
        "fill": "#222",
        "fontSize": 16,
        "fontWeight": 600
      },
      "encoding": {
        "text": {
          "field": "valueWithPercent",
          "type": "nominal"
        }
      }
    }]
  }
  ```
  </div>
</div>