<style>
	#travel-table th, #travel-table td {
		min-width: 120px;
		width:  120px;
		text-align: center;
	}

	#travel-table th:first-child, #travel-table td:first-child {
		text-align: left;
		padding-left: 10px;
	}

	#travel-table tr:nth-child(even) {
	    background-color: #e5e7eb;
	}
</style>
<div id="travel-table">

```csv-table
---
width: 500
height: 100
---
City, Date opened, Kilometres of route, Passengers per year (in millions)
London, 1863, 394, 775
Paris, 1900, 199, 1191
Tokyo, 1927, 155, 1927
Washington DC, 1976, 126, 144
Kyoto, 1981, 11, 45
Los Angeles, 2001, 28, 50
```
</div>