<div style="display: flex; flex-wrap:wrap;">
  <div style="flex: 100%; margin-bottom: 50px; margin-top: 50px;">
  <p style="font-size: 1.3em; color: #222; margin-bottom: 0;"><strong>2013</strong></p>


   ```vegalite
   { 
     "config": {
       "view": {"stroke": null}},
     "data": {
       "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/28a.json"
     },
      "transform": [
       {
         "calculate": "datum.value + '%'",
         "as": "valueWithPercent"
       }
     ],
     "encoding": {
       "theta": {"field": "value", "type": "quantitative", "stack": true},
       "color": {
         "field": "category",
         "type": "nominal",
         "legend": {
           "symbolSize": 400,
           "title": "Category",
           "titlePadding": 24,
           "labelFontSize": 10,
           "titleFontSize": 14,
           "orient": "none",
           "legendX": 260,
           "legendY": -50,
           "columns": 1,
           "offset": 80,
           "rowPadding": 8,
           "strokeColor": "#fff",
           "padding": 20
         }
       }
     },
     "layer": [{
       "mark": {"type": "arc", "outerRadius": 110}
     }, {
       "mark": {
         "type": "text",
         "radius": 140,
         "fill": "#222",
         "fontSize": 16,
         "fontWeight": 600
       },
       "encoding": {
         "text": {
           "field": "valueWithPercent",
           "type": "nominal"
         }
       }
     }]
   }
   ```
  </div>
  <div style="flex: 100%; margin-bottom: 50px">
  <p style="font-size: 1.3em; color: #222; margin-bottom: 0;"><strong>2023</strong></p>


 ```vegalite
   { 
     "config": {
       "view": {"stroke": null}},
     "data": {
       "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/28b.json"
     },
      "transform": [
       {
         "calculate": "datum.value + '%'",
         "as": "valueWithPercent"
       }
     ],
     "encoding": {
       "theta": {"field": "value", "type": "quantitative", "stack": true},
       "color": {
         "field": "category",
         "type": "nominal",
         "legend": {
            "symbolSize": 0,
            "title": "Category",
            "titlePadding": 24,
            "labelFontSize": 10,
            "titleFontSize": 14,
            "orient": "none",
            "legendX": 260,
            "legendY": -50,
            "columns": 1,
            "offset": 80,
            "rowPadding": 8,
            "strokeColor": "#fff",
            "padding": 20,
            "titleColor": "#fff",
            "labelColor": "#fff"
          }
       }
     },
     "layer": [{
       "mark": {"type": "arc", "outerRadius": 110}
     }, {
       "mark": {
         "type": "text",
         "radius": 140,
         "fill": "#222",
         "fontSize": 16,
         "fontWeight": 600
       },
       "encoding": {
         "text": {
           "field": "valueWithPercent",
           "type": "nominal"
         }
       }
     }]
   }
   ```

  </div>
</div>