<style>

  #water-table {
    margin-top: 30px;
  }

  #water-table th {
    background-color: #e5e7eb;
  }

  #water-table th, #water-table td {
    min-width: 120px;
    width:  120px;
    text-align: center;
  }

  #water-table th:first-child, #water-table td:first-child {
    text-align: left;
    padding-left: 10px;
  }
</style>

<div style="margin-top: 30px; margin-bottom: 30px;">

```vegalite

{
  "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
  "config": {"view": {"stroke": null}},
  "width": 800,
  "height": 350,
  "title": {
    "text": "Global Water Use by Sector",
    "fontSize": 24,
    "dy": -10
  },
  "data": {
    "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/037.json"
  },
  "layer": [
      {
        "mark": {
          "type": "line",
          "strokeWidth": "5"
        },
          "encoding": {
            "x": {
              "field": "year",
              "type": "temporal",
              "title": "Year",
              "axis": {
                "values": ["1900", "1910", "1920", "1930", "1940", "1950", "1960", "1970", "1980", "1990", "2000"],
                "format": "%Y",
                "domain": false,
                "tickCount": 11,
                "labelAngle": 90,
                "titlePadding": 20,
                "labelPadding": 10,
                "labelFontSize": 24,
                "titleFontSize": 24
              }
            },
            "y": {
              "title": "km3",
              "axis": {
                "tickCount": 10,
                "titlePadding": 20,
                "ticks": false,
                "domain": false,
                "labelPadding": 10,
                "labelFontSize": 24,
                "titleFontSize": 24
                
              },
              "field": "value",
              "type": "quantitative",
              "scale": {"domain": [0, 3500]}
            },
            "color": {
              "field": "category",
              "type": "nominal",
              "legend": {
                "title": "Category",
                "titlePadding": 30,
                "labelFontSize": 24,
                "titleFontSize": 24,
                "orient": "bottom",
                "labelLimit": 250,
                "symbolSize": 500,
                "padding": 30
              }
            }
          }
      },
      {
        "mark": {"type": "point", "filled": true, "size": 100},
        "encoding": {
          "x": {
            "field": "year",
            "type": "temporal"
          },
          "y": {
            "field": "value",
            "type": "quantitative"
          },
          "color": {
            "field": "category",
            "type": "nominal"
          }
        }
    }
    ]
}


```

<div id="water-table">

```csv-table
---
width: 500
height: 100
separator: \t
---
Country\t Population\t Irrigated land\t Per person water use
Brazil\t 176 million\t 26,500 km²\t 359 m³
Congo (DRC)\t 5.2 million\t 100 km²\t 8 m³
```
</div>