<div style="margin-top: 50px; margin-bottom: 30px;">

```vegalite
{
  "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
  "config": {"view": {"stroke": null}},
  "width": 400,
  "height": 250,
  "title": {
    "text": "Coffee Consumption by Country",
    "dy": -10
  },
  "data": {
    "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/043.json"
  },
  "layer": [
      {
        "mark": "line",
          "encoding": {
            "x": {
              "field": "year",
              "type": "temporal",
              "title": "Year",
              "axis": {
                "values": ["1983", "1993", "2003", "2013", "2023"],
                "format": "%Y",
                "domain": false,
                "tickCount": 5,
                "labelAngle": 0,
                "titlePadding": 20,
                "labelPadding": 10
              }
            },
            "y": {
              "title": "Consumption in litres",
              "axis": {
                "tickCount": 10,
                "titleX": -40,
                "ticks": false,
                "domain": false,
                "labelPadding": 10,
                "titlePadding": 130
              },
              "field": "value",
              "type": "quantitative",
              "scale": {"domain": [0, 120]}
            },
            "color": {
              "field": "category",
              "type": "nominal",
              "legend": {
                "title": "Country",
                "titlePadding": 10
              }
            }
          }
      },
      {
        "mark": {"type": "point", "filled": true},
        "encoding": {
          "x": {
            "field": "year",
            "type": "temporal"
          },
          "y": {
            "field": "value",
            "type": "quantitative"
          },
          "color": {
            "field": "category",
            "type": "nominal"
          }
        }
    }
    ]
}

```

</div>