<div style="display: flex; flex-wrap:wrap; margin-top: 30px">
  <div style="flex: 100%;">
  <p style="font-size: 1.3em; color: #222; font-family: oswald; font-weight: 900;">Revenue Sources</p>

  ``` vegalite

  {
  "config": {
    "view": {"stroke": null}
  },
  "data": {
    "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/73a.json"
  },
  "transform": [
    {
      "calculate": "datum.category + ': ' + datum.value + '%'",
      "as": "categoryWithPercent"
    },
    {
      "window": [{"op": "rank", "as": "rank"}],
      "sort": [{"field": "value", "order": "descending"}]
    }
  ],
  "encoding": {
    "theta": {"field": "value", "type": "quantitative", "stack": true},
    "color": {
      "field": "categoryWithPercent",
      "type": "nominal",
      "sort": {"field": "rank", "order": "ascending"},
      "legend": {
        "symbolSize": 200,
        "title": false,
        "titlePadding": 24,
        "labelFontSize": 12,
        "titleFontSize": 14,
        "columns": 2,
        "offset": 80,
        "rowPadding": 8,
        "strokeColor": "#fff",
        "orient": "none",
        "legendX": 0,
        "legendY": 250,
        "labelLimit": 300,
        "columnPadding": 0
      }
    }
  },
   "layer": [
    {
      "mark": {"type": "arc", "outerRadius": 110}
    },
    {
      "mark": {
        "type": "text",
        "x": 250,
        "y": 100,
        "align": "left",
        "fontSize": 16,
        "fontWeight": 600,
        "text": "Total: $53,561,580",
        "fill": "#222"
      }
    }
  ]
}

  ```

  </div>
  <div style="margin-top: 50px; margin-bottom: 50px; flex: 100%">
  <p style="font-size: 1.3em; color: #222; font-family: oswald; font-weight: 900;">Expenditure</p>


  ```vegalite

  {
  "config": {
    "view": {"stroke": null}
  },
  "data": {
    "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/73b.json"
  },
  "transform": [
    {
      "calculate": "datum.category + ': ' + datum.value + '%'",
      "as": "categoryWithPercent"
    },
    {
      "window": [{"op": "rank", "as": "rank"}],
      "sort": [{"field": "value", "order": "descending"}]
    }
  ],
  "encoding": {
    "theta": {"field": "value", "type": "quantitative", "stack": true},
    "color": {
      "field": "categoryWithPercent",
      "type": "nominal",
      "sort": {"field": "rank", "order": "ascending"},
      "legend": {
        "symbolSize": 200,
        "title": false,
        "titlePadding": 24,
        "labelFontSize": 12,
        "titleFontSize": 14,
        "columns": 2,
        "offset": 80,
        "rowPadding": 8,
        "strokeColor": "#fff",
        "orient": "none",
        "legendX": 0,
        "legendY": 250,
        "labelLimit": 300,
        "columnPadding": 0
      }
    }
  },
   "layer": [
    {
      "mark": {"type": "arc", "outerRadius": 110}
    },
    {
      "mark": {
        "type": "text",
        "x": 250,
        "y": 100,
        "align": "left",
        "fontSize": 16,
        "fontWeight": 600,
        "text": "Total: $53,224,896",
        "fill": "#222"
      }
    }
  ]
}
  ```
  </div>
</div>