<div style="margin-top: 30px; margin-bottom: 30px;">

  ```vegalite
  {
    "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
    "config": {"view": {"stroke": null}},
    "width": 300,
    "height": 250,
    "title": {
      "text": "Percentage of the population living in cities",
      "dy": -10
    },
    "data": {
      "url": "https://raw.githubusercontent.com/solentenglish/datajson/main/078.json"
    },
    "layer": [
      {
        "mark": "line",
        "encoding": {
          "x": {
            "field": "year",
            "type": "nominal",
            "title": "Year",
            "axis": {
              "titleY": 60,
              "domain": false,
              "grid": false
            }
          },
          "y": {
            "field": "value",
            "type": "quantitative",
            "title": "Percentage (%) of total population",
            "axis": {
              "tickCount": 10,
              "titleX": -50,
              "ticks": false,
              "domain": false,
              "labelPadding": 10
            },
            "scale": {"domain": [0, 100]}
          },
          "color": {
            "field": "country",
            "type": "nominal",
            "legend": {
              "title": "Country"
            }
          }
        }
      },
      {
        "mark": {"type": "point", "filled": true},
        "encoding": {
          "x": {
            "field": "year",
            "type": "nominal"
          },
          "y": {
            "field": "value",
            "type": "quantitative"
          },
          "color": {
            "field": "country",
            "type": "nominal"
          }
        }
    }
    ]
  }
```
</div>